body
{
	margin: 10px;
}

.nav ul
{
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav ul li
{
	float: left;
	list-style: none;
	line-height: 40px;
	padding: 0 10px;
	text-decoration: none;
}

.nav ul li a
{
	text-decoration: none;
	color: #000;
	display: inline-block;
}

.nav ul li a:hover
{
	text-decoration: none;
	color: blue;
}

.content
{
	margin-top: 20px;
	min-height: 200px;
	padding: 50px;
}

.tambah
{
	text-decoration: none;
	color: #000;
	border: 1px solid #000;
	background-color: #48f648;
	padding: 5px;
}

.tambah:hover
{
	color: #fff;
	background-color: #4c6e4c;
}

.form-control
{
	border: none;
	height: 28px;
}

.form-select
{
	width: 40%;
	height: 28px;
	float: left;
}

.form-label
{
	width: 40%;
	height: 28px;
	padding-top: 6px;
	float: right;
	padding-right: 50px;
}

tr
{
	height: 30px;
}

.btn
{
	padding: 7px;
	cursor: pointer;
	width: 100%;
}

.active
{
	color: blue;
}